@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sen&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  border: 0;
  margin: 0;
  overflow-x: hidden;
}
* button:hover {
  cursor: pointer;
}

.login-container {
  font-family: "Sen", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100%;
  height: -moz-max-content;
  height: max-content;
  height: 100%;
  width: 100vw;
  flex-grow: 1;
}
.login-container header img {
  margin: 70px 0 40px 30px;
}
.login-container .login-section-two {
  display: flex;
  flex-grow: 1;
}
.login-container .login-section-two .login-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container .login-section-two .login-image img {
  max-width: 100%;
}
.login-container .login-section-two h2 {
  font-family: "Sen", sans-serif;
  font-weight: 400;
  line-height: 27px;
  color: #545F7D;
  font-size: 20px;
}
.login-container .login-section-two .login-form {
  display: flex;
  align-items: center;
}
.login-container .login-section-two .login-form .reg-button {
  padding: 20px 4px 20px 4px;
  background-color: #39CDCC;
  color: white;
  border-radius: 0.25rem;
}
.login-container .login-section-two .login-form form {
  display: flex;
  width: auto;
  gap: 45px;
  flex-direction: column;
  height: 85%;
  min-height: -moz-max-content;
  min-height: max-content;
  padding-top: 40px;
}
.login-container .login-section-two .login-form form a {
  color: #39CDCC;
  font-weight: bold;
  text-decoration: none;
  margin-top: -10px;
}
.login-container .login-section-two .login-form form a:hover {
  cursor: pointer;
}
.login-container .login-section-two .login-form form div {
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #d9d9d9;
  border-radius: 0.25rem;
}
.login-container .login-section-two .login-form form div input {
  margin-left: 10px;
  padding: 15px 6px 15px 6px;
  width: 85%;
  color: #545F7D;
}
.login-container .login-section-two .login-form form div input:hover {
  border: none;
  outline: none;
}
.login-container .login-section-two .login-form form div input:focus {
  border: none;
  outline: none;
}
.login-container .login-section-two .login-form input::-moz-placeholder {
  font-weight: "Sen", sans-serif;
  line-height: 19px;
  font-size: 14;
  font-weight: 400;
  color: silver;
}
.login-container .login-section-two .login-form input::placeholder {
  font-weight: "Sen", sans-serif;
  line-height: 19px;
  font-size: 14;
  font-weight: 400;
  color: silver;
}
.login-container .login-section-two .login-form .show {
  padding-right: 10px;
  color: #39CDCC;
  font-weight: bold;
}
.login-container .login-section-two .login-form .show:hover {
  cursor: pointer;
}
.login-container .login-section-two .login-form .login-inner-content {
  width: 100%;
}
.login-container .login-section-two .login-form h1 {
  color: #213F7D;
  font-weight: bold;
  font-size: 40px;
  font-family: "Sen", sans-serif;
}

#root {
  min-height: 100vh;
  max-height: 100%;
  height: -moz-max-content;
  height: max-content;
}

.dashboard {
  grid-template-columns: 1fr;
  overflow-y: auto;
  grid-template-rows: 1fr, 11fr;
  display: grid;
  min-height: 100vh;
  font-family: "Work Sans", sans-serif;
  max-height: 100%;
  height: -moz-max-content;
  height: max-content;
  background-color: #fafafa;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}
.dashboard .active-status {
  background-color: #f0fbf3;
  font-weight: 400;
  color: #39CD62;
  font-family: "Work Sans", sans-serif;
  border-radius: 1.8rem;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}
.dashboard .pending-status {
  background-color: #fff6da;
  font-weight: 400;
  color: #E9B200;
  font-family: #E9B200;
  font-family: "Work Sans", sans-serif;
  border-radius: 1.8rem;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}
.dashboard .black-list-status {
  background-color: #fed8e2;
  font-weight: 400;
  color: #E4033B;
  font-family: "Work Sans", sans-serif;
  border-radius: 1.8rem;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}
.dashboard .inactive-status {
  background-color: #f9f9fb;
  font-weight: 400;
  color: #545F7D;
  font-family: "Work Sans", sans-serif;
  border-radius: 1.8rem;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
}
.dashboard .active-number {
  font-weight: 500;
  color: #213F7D;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
.dashboard .not-active {
  font-weight: 500;
  color: #545F7D;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
.dashboard .prev-btn-container,
.dashboard .next-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .mobile-tooltip {
  font-family: "Sen", sans-serif;
  font-size: 500;
}
.dashboard .mobile-tooltip .tippy-box {
  background-color: white;
}
.dashboard .mobile-tooltip li a {
  text-decoration: none;
  color: black;
}
.dashboard header {
  grid-row: 1/1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  border-bottom: 3px solid whitesmoke;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 20px 0 20px 0;
}
.dashboard .main-body {
  grid-row: 2/12;
  display: flex;
}
.dashboard .main-body .dashboard-body {
  padding: 0 35px 0 20px;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
.dashboard .main-body .details-page {
  padding: 0 35px 0 20px;
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
.dashboard .main-body .details-page .details-group-section {
  width: -moz-min-content;
  width: min-content;
}
.dashboard .main-body .details-page .user-base-details {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard .main-body .details-page .user-name {
  font-size: 22px;
  font-weight: 500;
  color: #213F7D;
}
.dashboard .main-body .details-page .user-token {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  color: #545F7D;
}
.dashboard .main-body .details-page .section-four-details-page {
  display: flex;
  height: 80%;
  flex-direction: column;
  gap: 5px;
}
.dashboard .main-body .details-page .part-two-content-section-four {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin: 0 0 30px 0;
  gap: 40px;
  z-index: 1;
  flex-grow: 8;
  width: 100%;
  text-wrap: nowrap;
  font-family: "Work Sans", sans-serif;
  padding: 25px 10px;
  border-radius: 0.3rem;
  border: 2px solid #f6f7f9;
}
.dashboard .main-body .details-page .part-two-content-section-four .details-section-two-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: auto;
  height: 100%;
}
.dashboard .main-body .details-page .part-two-content-section-four .details-section-two-wrapper:last-child {
  border-bottom: none;
}
.dashboard .main-body .details-page .part-two-content-section-four .section-two-for-details-section-two-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 50px;
}
.dashboard .main-body .details-page .part-two-content-section-four .section-three-for-details-section-two-wrapper {
  border-bottom: 2px solid #f3f4f7;
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 50px;
}
.dashboard .main-body .details-page .part-two-content-section-four .field-title {
  font-weight: 500;
  font-size: 16px;
  color: #213F7D;
}
.dashboard .main-body .details-page .part-one-content-section-four {
  border: 2px solid #f6f7f9;
  border-radius: 0.3rem;
  justify-content: space-between;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
  height: auto;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  padding: 0 10px;
}
.dashboard .main-body .details-page .part-one-content-section-four nav {
  height: auto;
  flex-direction: column;
  justify-self: flex-end;
  height: 20%;
  display: flex;
}
.dashboard .main-body .details-page .part-one-content-section-four nav ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.dashboard .main-body .details-page .part-one-content-section-four nav ul .is-active-link {
  color: #39CDCC;
  border-bottom: 2px solid #39CDCC;
}
.dashboard .main-body .details-page .part-one-content-section-four nav ul .in-active {
  color: #000;
}
.dashboard .main-body .details-page .part-one-content-section-four nav ul li {
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: end;
}
.dashboard .main-body .details-page .part-one-content-section-four nav ul li a {
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.dashboard .main-body .details-page .part-one-content-section-four .portion-one-part-one-content-section-four {
  display: flex;
  align-items: center;
  padding-top: 15px;
  gap: 20px;
}
.dashboard .main-body .details-page .part-one-content-section-four .user-rating {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  border-left-color: #e3e6ed;
  border-right-color: #e3e6ed;
  padding: 0 20px;
  border-right-width: 2px;
  border-left-width: 2px;
  border-style: solid;
}
.dashboard .main-body .details-page .part-one-content-section-four .user-rating .user-tier {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.42px;
  color: #213F7D;
}
.dashboard .main-body .details-page .part-one-content-section-four .user-rating .star-container {
  display: flex;
  gap: 5px;
}
.dashboard .main-body .details-page .part-one-content-section-four .user-rating .star-container:hover {
  cursor: pointer;
}
.dashboard .main-body .details-page .user-details-title {
  color: #213F7D;
  display: flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.15px;
}
.dashboard .main-body .details-page .section-two-for-details-page {
  display: flex;
  justify-content: space-between;
}
.dashboard .main-body .details-page .button-container-activate-users {
  display: flex;
  gap: 10px;
}
.dashboard .main-body .details-page .button-container-activate-users .black-list-user-detail {
  border: 1px solid #E4033B;
  background-color: white;
  color: #E4033B;
}
.dashboard .main-body .details-page .button-container-activate-users .activate-user-detail {
  border: 1px solid #39CD62;
  background-color: white;
  color: #39CD62;
}
.dashboard .main-body .details-page .button-container-activate-users button {
  border-radius: 8px;
  width: 180px;
  height: 40px;
  border-width: 1px;
  font-weight: 600;
}
.dashboard .main-body .details-page .back-button {
  line-height: 28.15px;
  padding: 35px 0 35px 0;
  display: flex;
  align-items: center;
  margin-top: 100px;
  background-color: transparent;
  color: #545F7D;
  font-family: 400;
  font-size: 16px;
  gap: 8px;
}
.dashboard .main-body footer {
  z-index: 4;
}
.dashboard .main-body footer .paginate {
  display: flex;
  gap: 15px;
}
.dashboard .main-body footer .pagination-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.dashboard .main-body footer .pagination-container:hover {
  cursor: pointer;
}
.dashboard .main-body footer .first-half-footer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard .main-body footer .first-half-footer .data-shown {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dadee6;
  padding: 10px 20px 10px 20px;
  width: auto;
  border-radius: 0.3rem;
}
.dashboard .main-body footer .first-half-footer .data-shown p {
  font-weight: bold;
  margin-right: auto;
}
.dashboard .main-body .table-container {
  overflow: auto;
  position: relative;
}
.dashboard .main-body .view {
  position: relative;
  z-index: 1;
}
.dashboard .main-body .view .view-options {
  background-color: white;
  z-index: 2;
  width: auto;
  position: absolute;
  right: 800;
  top: 1px;
  width: auto;
  height: auto;
  padding: 20px 15px 20px 10px;
  border-radius: 0.37rem;
}
.dashboard .main-body .view .view-options .view-item {
  display: flex;
  font-family: "Work Sans", sans-serif;
  color: #213F7D;
  gap: 10px;
  font-weight: 500;
  margin-bottom: 5px;
}
.dashboard .main-body .view .view-options .view-item p:hover,
.dashboard .main-body .view .view-options .view-item img:hover {
  cursor: pointer;
}
.dashboard .main-body .view .view-options img {
  width: 20px;
}
.dashboard .main-body .view .view-options a {
  color: #213F7D;
  text-decoration: none;
}
.dashboard .filter-board {
  position: absolute;
  background-color: white;
  bottom: 0;
  height: 92%;
  width: 30%;
  z-index: 2;
  border: 3px solid whitesmoke;
}
.dashboard .filter-board .input-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard .filter-board .input-wrapper p {
  color: #213F7D;
  font-weight: 500;
}
.dashboard .filter-board form {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
}
.dashboard .filter-board form .filter {
  background-color: #39CDCC;
  padding: 10px 30px 10px 30px;
  font-weight: 600;
  border-radius: 0.35rem;
  color: white;
}
.dashboard .filter-board form .reset-form-buttons {
  font-weight: "Work Sans", sans-serif;
  display: flex;
  justify-content: center;
  gap: 9px;
  width: 90%;
  font-size: 14px;
}
.dashboard .filter-board form .reset {
  color: #213F7D;
  background-color: white;
  font-weight: 600;
  border-radius: 0.35rem;
  border: 1px solid #213F7D;
  padding: 10px 30px 10px 30px;
}
.dashboard .filter-board form input[type=date]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(/src/resources/images/icons/Calendar.png) no-repeat;
  width: 20px;
  height: 20px;
  padding-right: 12px;
  border-width: thin;
}
.dashboard .filter-board form .reset-form {
  width: 98%;
  border-radius: 0.35rem;
  border: 3px solid whitesmoke;
}
.dashboard .filter-board form .reset-form input {
  padding: 15px 0 15px 10px;
  color: #a6a6a6;
  font-weight: 400;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  width: 100%;
}
.dashboard .filter-board form .reset-form input:hover, .dashboard .filter-board form .reset-form input:focus {
  outline: 0;
}
.dashboard .filter-board .select-type-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard .filter-board .select-type-container:first-child {
  margin-top: 20px;
}
.dashboard .filter-board .select-type-container select {
  width: 100%;
  color: #a6a6a6;
  font-weight: 400;
  font-size: 16px;
  border-radius: 0.35rem;
  padding: 15px 0 15px 10px;
  border: 3px solid whitesmoke;
}
.dashboard .filter-board .select-type-container p {
  color: #213F7D;
  font-weight: 500;
}
.dashboard table {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  width: 100%;
  text-wrap: nowrap;
  background-color: white;
  font-family: "Work Sans", sans-serif;
  padding: 25px 10px;
}
.dashboard table th {
  padding: 10px 0 0 0;
  color: #545F7D;
  font-size: 600;
}
.dashboard table thead {
  overflow-x: auto;
}
.dashboard table thead th img:hover {
  cursor: pointer;
}
.dashboard table tbody {
  overflow-x: auto;
}
.dashboard table td {
  padding: 30px 0 30px 42px;
  border-bottom: 2px solid #e6e6e6;
}
.dashboard table td .view-icon:hover {
  cursor: pointer;
}
.dashboard .sidebar-title {
  margin: 0 0 10px 15px;
  color: #545F7D;
  font-weight: 500;
}
.dashboard .side-bar-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 15px;
}
.dashboard .side-bar-list li a {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: rgba(33, 63, 125, 0.6);
  font-size: 16px;
  gap: 10px;
}
.dashboard .side-bar-list li a:hover {
  cursor: pointer;
}
.dashboard .side-bar-list li {
  list-style-type: none;
  gap: 10px;
}

article {
  flex-grow: 8;
}
article h1 {
  color: #213F7D;
  margin-top: 100px;
  display: flex;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.15px;
  padding: 35px 0 35px 35px;
}
article .cards-container .card {
  display: flex;
  height: 160px;
  padding-left: 10px;
  margin: auto 0 auto 0;
  flex-direction: column;
  gap: 10px;
  border-radius: 0.5rem;
  background-color: white;
  font-family: "Work Sans", sans-serif;
  color: #213F7D;
}
article .cards-container .card:hover {
  cursor: pointer;
}
article .cards-container .card .title {
  font-size: 14px;
}
article .cards-container .card .add-margin {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
}
article .cards-container .card div {
  margin-top: 20px;
}

.ham {
  width: 50px;
}
.ham:hover {
  cursor: pointer;
}

.adedeji {
  font-family: "Work Sans", sans-serif;
  display: flex;
  gap: 10px;
}
.adedeji .search-icon:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .mobile-menu {
    border-right: 3px solid whitesmoke;
    background-color: whitesmoke;
    z-index: 5;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    max-height: 100%;
    min-height: 100vh;
    height: 100%;
    right: 0;
    width: auto;
  }
  .section-four-details-page {
    margin: 20px auto 60px auto;
    max-width: 80%;
  }
  .section-four-details-page .content-section-four {
    width: 100%;
  }
  .mobile-menu-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .mobile-menu-content .secondHalf-component-on-mobile-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .mobile-menu-content .search {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.7px solid #d9d9d9;
    width: 100%;
  }
  .mobile-menu-content .search input {
    width: 90%;
    padding: 12px 6px 12px 6px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .mobile-menu-content .search input::-moz-placeholder {
    font-weight: "Sen", sans-serif;
    line-height: 19px;
    font-size: 14;
    font-weight: 400;
    padding-left: 6px;
    color: silver;
  }
  .mobile-menu-content .search input::placeholder {
    font-weight: "Sen", sans-serif;
    line-height: 19px;
    font-size: 14;
    font-weight: 400;
    padding-left: 6px;
    color: silver;
  }
  .mobile-menu-content .search-bottom {
    width: 10%;
    background-color: #39CDCC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 6px 14px 6px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .mobile-menu-content .search-bottom:hover {
    cursor: pointer;
  }
  footer {
    display: flex;
    flex-direction: column;
    width: 94%;
    gap: 10px;
    align-items: center;
  }
  .view {
    position: relative;
    z-index: 1;
  }
  .view .view-options {
    background-color: white;
    z-index: 2;
    width: auto;
    position: absolute;
    left: 800px;
    top: 1px;
    width: auto;
    height: auto;
    padding: 20px 15px 20px 10px;
    border-radius: 0.37rem;
    gap: 10px;
  }
  .view .view-options .view-item {
    display: flex;
    font-family: "Work Sans", sans-serif;
    color: #213F7D;
    gap: 10px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .view .view-options .view-item p:hover,
  .view .view-options .view-item img:hover {
    cursor: pointer;
  }
  .view .view-options img {
    width: 20px;
  }
  .view .view-options a {
    color: #213F7D;
    text-decoration: none;
  }
  footer {
    margin-bottom: 150px;
  }
  .dashboard {
    grid-template-rows: 1fr, 10fr 1fr;
  }
  .login-section-two {
    flex-direction: column;
    align-items: center;
  }
  .login-form {
    width: 85%;
  }
  .login-image {
    margin-bottom: 30px;
  }
  .header-section-two {
    display: none;
    background-color: pink;
  }
  .search {
    display: none;
  }
  .logo {
    margin-left: 20px;
  }
  .ham {
    display: flex;
  }
  .close-button-container {
    justify-content: end;
    width: 100%;
    display: flex;
    margin: 20px 10px 10px 0;
  }
  .close-button-container .close-button {
    width: 30px;
  }
  .logo-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
  }
  aside {
    display: none;
  }
  .cards-container {
    flex-direction: column;
    height: auto;
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .cards-container .card {
    width: 80%;
    margin: 0 auto 0 auto;
  }
  .table-container {
    margin: 20px auto 60px auto;
    max-width: 80%;
    background-color: palegoldenrod;
  }
  .table-container table {
    width: 100%;
  }
  .mobile-side-bar {
    grid-row: 12/12;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    padding: 25px 10px 25px 10px;
    bottom: 0;
    z-index: 3;
    background-color: white;
    width: 100%;
  }
  .mobile-side-bar a {
    text-decoration: none;
    color: #545F7D;
    font-weight: 700;
  }
  .mobile-side-bar .bag,
  .mobile-side-bar .home {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1025px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-content {
    display: none;
  }
  footer {
    display: flex;
  }
  .view {
    position: relative;
    z-index: 1;
  }
  .view .view-options {
    background-color: white;
    z-index: 2;
    width: auto;
    position: absolute;
    left: 1002px;
    top: 1px;
    width: auto;
    height: auto;
    padding: 20px 15px 20px 10px;
    border-radius: 0.37rem;
    gap: 10px;
  }
  .view .view-options .view-item {
    display: flex;
    font-family: "Work Sans", sans-serif;
    color: #213F7D;
    gap: 10px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .view .view-options .view-item p:hover,
  .view .view-options .view-item img:hover {
    cursor: pointer;
  }
  .view .view-options img {
    width: 20px;
  }
  .view .view-options a {
    color: #213F7D;
    text-decoration: none;
  }
  .dashboard {
    grid-template-rows: 1fr, 11fr;
  }
  .mobile-side-bar {
    display: none;
  }
  .table-container, .section-four-details-page {
    max-width: 94%;
    margin: 20px 30px 30px 35px;
  }
  footer {
    margin: 0 30px 30px 35px;
    max-width: 94%;
    justify-content: space-between;
    font-family: "Work Sans", sans-serif;
  }
  footer div p {
    color: #545F7D;
    font-weight: 400;
  }
  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .cards-container .card {
    width: 230px;
  }
  aside {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    flex-grow: 1;
    z-index: 1;
    padding: 0 0 300px 0;
  }
  aside .first-child {
    margin-top: 45px;
    padding-top: 30px;
  }
  aside .first-child ul li {
    gap: 980px;
  }
  .ham {
    display: none;
  }
  .logo-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
  }
  .search {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 0.7px solid #d9d9d9;
    width: 70%;
  }
  .search input {
    width: 90%;
    padding: 12px 6px 12px 6px;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  .search input::-moz-placeholder {
    font-weight: "Sen", sans-serif;
    line-height: 19px;
    font-size: 14;
    font-weight: 400;
    padding-left: 6px;
    color: silver;
  }
  .search input::placeholder {
    font-weight: "Sen", sans-serif;
    line-height: 19px;
    font-size: 14;
    font-weight: 400;
    padding-left: 6px;
    color: silver;
  }
  .search-bottom {
    width: 10%;
    background-color: #39CDCC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 6px 14px 6px;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .search-bottom:hover {
    cursor: pointer;
  }
  .login-section-two {
    justify-content: space-around;
  }
  .login-form {
    width: 35%;
  }
  .header-section-two {
    display: flex;
    width: -moz-max-content;
    width: max-content;
    align-items: center;
    color: #213F7D;
    gap: 30px;
    padding-right: 45px;
    font-weight: bold;
  }
  .header-section-two a {
    font-family: "Roboto", sans-serif;
    color: #213F7D;
    font-weight: 400;
  }
}/*# sourceMappingURL=base.css.map */